input{
    width: 100px;
    height: 50px;
    border-radius: 10%;
    border-color: aliceblue;
}

.fit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    width: 170px;
        height: 60px;
        border-radius: 10%;
        border-color: aliceblue;
        font-size: smaller;
        text-align: center;
    
}

button:hover{
    background-color: rgb(28, 142, 235);
    color: aliceblue;
    border-color: rgb(28, 142, 235);
}



.calculator{
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 5px;
    background-color: rgb(6, 40, 40);
    margin-top: 0;
    height: 450px;
    width: 700px;
    border-radius: 5%;
    margin-left: 100px;
    padding-bottom:50px ;
}

.everything{
    display: flex;
    justify-content: space-between;
    
}

.history{
    margin-right: 0;
    color: rgb(106, 121, 121);
    font-size: medium;
}
.box{
    
    row-gap: 0px;
    column-gap: 0px;
   
}

/* 
.box{border: 1px solid black;
    border-collapse: collapse;
    width: 200px;
    text-align: right;
    height: 600px;
} */